* {
  padding: 0;
  margin:0;
  font-family: 'Oswald', sans-serif;
  /* border: red 1px solid; */
}

header {
  height: 10vh;
  width: 100%;
  background-color: #4169e1;
}

footer {
  width: 100%;
  height: 23vh;
  background-color: #4169e1;
}

footer h4 {
  color: white;
  text-align: center;
  padding: 20px 0 10px 0;
}

footer hr {
  width: 95%;
  margin: 0 auto;
  color: white;
}

footer li {
  float: right;
  padding: 20px 30px 0 0;
  list-style-type: none;
}

footer li a:hover {
  color: black;
}

#copyright {
  float: left;
  padding: 20px 0 0 30px;
}

footer li a {
  text-decoration: none;
  color: white;
}

.fa {
  background-color: #4169e1;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 70px;
  padding-bottom: 10px;
}

.fa:hover {
  color: black;
}

footer section {
  width: 100%;
  text-align: center;
}

#logo {
  float: left;
  margin-left: 50px;
  margin-top: 7px;
}

.nav-item li {
  display: inline;
  float: right;
  width: 15%;
  text-align: center;
}

.nav-item li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  padding: 16px 0;
}

.nav-item li a:hover {
  border-bottom: 4px solid black;
  color: black;
}

body {
  background-color: white;
}

#main {
  clear: both;
  width: 100%;
  height: 70vh;
  background: rgba(0,200,255,0.6) url(pic/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.main-content {
  width: 60%;
  padding: 100px 0;
}

.btn a {
  text-decoration: none;
  color: #4169e1;
  padding: 15px 20px;
  border: 3px #4169e1 solid;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}

.btn a:hover {
  color: white;
}

.main-content h1, .main-content h2 {
  color: white;
}

.main-content h2 {
  margin-bottom: 40px;
  margin-top: 10px;
  font-family: 'Alegreya Sans', 'Oswald', sans-serif;
}

.content {
  width: 60%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
}

.content section {
  text-align: center;
  width: 50%;
}

.content article {
  text-align: left;
  width: 50%;
  padding: 80px 0;
}

.content article p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.content article a {
  text-decoration: none;
  border: 2px solid #4169e1;
  padding: 15px 20px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  background-color: #4169e1;
}

#receivo article {
  text-align: right;
}

hr {
  width: 80%;
  margin: 0 auto;
}

.content article a:hover {
  color: #4169e1;
  background-color: white;
}

#rewards {
  background-color: #4169e1;
  height: 50vh;
  width: 100%;
  padding: 50px 0;
}

#rewards article {
  text-align: center;
}

#rewards article h1 {
  font-size: 35px;
}

#rewards section {
  width: 40%;
  margin: 48px auto;
  display: flex;
}

.item {
  margin-right: 50px;
}

.item h3 {
  text-align: center;
}

#about {
  height: 75vh;
  width: 100%;
  background-color: lightgrey;
  padding: 50px 0;
}

#about h1 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#about .wrapper {
  display: flex;
}

#about .wrapper section, #about .wrapper article {
  width: 50%;
}

#about article {
  border-left: solid black 1px;
  padding-left: 15px;
  padding-top: 50px;
  font-size: 18px;
}

#about .wrapper section {
  text-align: right;
  padding-right: 15px;
}
