* {
  padding: 0;
  margin:0;
  font-family: 'Oswald', sans-serif;
  /* border: red 1px solid; */
}

header {
  height: 4.1em;
  width: 100%;
  background-color: #4169e1;
}

footer {
  width: 100%;
  height: 10em;
  background-color: #4169e1;
}

footer h4 {
  color: white;
  text-align: center;
  padding: 20px 0 10px 0;
}

footer hr {
  width: 95%;
  margin: 0 auto;
  color: white;
}

footer li {
  float: right;
  padding: 20px 30px 0 0;
  list-style-type: none;
}

footer li a:hover {
  color: black;
}

#copyright {
  float: left;
  padding: 20px 0 0 30px;
  color: white;
}

footer li a {
  text-decoration: none;
  color: white;
}

.fa {
  background-color: #4169e1;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 70px;
  padding-bottom: 10px;
}

.fa:hover {
  color: black;
}

footer section {
  width: 100%;
  text-align: center;
}

#logo {
  float: left;
  margin-left: 50px;
  margin-top: 7px;
}

.nav-item li {
  display: inline;
  float: right;
  width: 15%;
  text-align: center;
}

.nav-item li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: block;
  padding: 16px 0;
}

.nav-item li a:hover {
  border-bottom: 4px solid black;
  color: black;
}

body {
  background-color: white;
}

#main {
  clear: both;
  width: 100%;
  height: 30em;
  background: rgba(0,200,255,0.6) url(../pic/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

.main-content {
  width: 60%;
  padding: 100px 0;
}

.btn a {
  text-decoration: none;
  color: #4169e1;
  padding: 15px 20px;
  border: 3px #4169e1 solid;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
}

.btn a:hover {
  color: white;
}

.main-content h1, .main-content h2 {
  color: white;
}

.main-content h2 {
  margin-bottom: 40px;
  margin-top: 10px;
  font-family: 'Alegreya Sans', 'Oswald', sans-serif;
}

.content {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
}

.content section {
  text-align: center;
  width: 50%;
}

.content article {
  text-align: left;
  width: 50%;
  padding: 80px 0;
}

.content article p {
  margin-top: 10px;
  margin-bottom: 40px;
}

.content article a {
  text-decoration: none;
  border: 2px solid #4169e1;
  padding: 15px 20px;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  background-color: #4169e1;
}

#customer article {
  text-align: right;
}

hr {
  width: 90%;
  margin: 0 auto;
}

.content article a:hover {
  color: #4169e1;
  background-color: white;
}

#rewards {
  background-color: #4169e1;
  /* height: 20em; */
  width: 100%;
  padding: 50px 0;
}

#rewards article {
  text-align: center;
}

#rewards article h1 {
  font-size: 35px;
}

#rewards section {
  width: 50%;
  display: block;
  padding-top: 1em;
  margin: 0 auto;
}

.item {
  margin-left: 3.3em;
  display: inline-block;
}

.item h3 {
  text-align: center;
}

#about {
  width: 100%;
  background-color: lightgrey;
  padding: 1em 0 4em 0;
}

#about h1 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#about .wrapper {
  display: flex;
  width: 80%;
}

#about a {
  background-color: #4169e1;
  color: white;
  padding: 1em 2em;
  border-radius: 5em;
  border: white 0.2em solid;
  text-decoration: none;
  display: inline-block;
}

#about article {
  border-left: solid black 1px;
  padding-left: 15px;
  font-size: 18px;
  width: 30%;
}

#about .wrapper section {
  text-align: right;
  padding-right: 1em;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .nav-item li {
    display: block;
    width: 100%;
  }

  .nav-item li a {
    background-color: #4169e1;
  }

  #logo {
    float: none;
    margin: 0;
    text-align: center;
  }

  .wrapper {
    width: 90%;
  }


}

@media screen and (max-width: 700px) {
  .main-content {
    width: 100%;
    text-align: center;
  }

  .content {
    display: block;
  }

  .content section {
    display: block;
    margin: 0 auto;
  }

  .content article {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 2em 0;
  }

  #customer article {
    text-align: center;
  }

  #about .wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  #about .wrapper {
    display: block;
    /* border: 1px red solid; */
  }

  #about .wrapper section {
    display: block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  #about .wrapper article {
    width: 100%;
    border: none;
    padding: 0;
    text-align: center;
  }

  #about {
    height: 45em;
  }

}
